*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
.container{
    font-family: cursive;
    height:70vh;
    display: grid;
    justify-content: center;
    align-items: center;
    color:black;


}

table{
    border-collapse: collapse;
    box-shadow:0 5px 10px gray;
    background-color: white;
    text-align: left;
    overflow: hidden;
    

}
thead{
  box-shadow:0 5px 10px gray;

}
th{
    padding:1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: 900;
}
td{
    padding: 1rem 2rem;
}

.action{
    border-radius: 5px;
    background-color: pink;
    padding: 0.2rem 1rem;
    text-align: center;
}

tr:nth-child(even){
    background-color:lavenderblush;
}
ul{
    background-color:lavenderblush ;
    padding:25px;

    li{
        
        margin: 20px;
        padding:10px;
        font-size: 20px;
        display: inline;
        cursor: pointer;
        font-family: cursive;
    }
}