<ul>
    <li routerLink="../userlist">Users </li>
    <li routerLink="../filelist">Files</li>
</ul>
<form [formGroup]="AddFormGroup" id="addForm">
    <label >Id:</label>
    <input  type="text"  id="Id" name="Id" formControlName="Id">
    <div formGroupName="Name">
        <label for="Firstname">firstname:</label>
        <input type="text" id="Firstname" name="firstname" formControlName="firstname">
        <label for="Lastname">lastname:</label>
        <input type="text"  id="Lastname" name="lastname" formControlName="lastname">
    </div>
    <label for="Birthdate">birthdate:</label>
    <input type="text"  id="Birthdate" name="Birthdate" formControlName="Birthdate">
    <label for="Email">email:</label>
    <input type="text"  id="Email"  name="Email" formControlName="Email">
    <label for="Phone">phone:</label>
    <input type="text"  id="Phone"  name="Phone" formControlName="Phone" >
    <label for="Address">address:</label>
    <input type="text"  id="Address"  name="Address" formControlName="Address">
    <button id="addSubmit" (click)="onAdd()">Add</button>
</form>
  

